.buttonMenu {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 50px;
    background: transparent;
    border: none;
}

.svgMenu{
    color: rgb(255, 255, 255);
}

.side {
    position: fixed;
    top: 0;
    left: 0;
    width: 10vw;
    background-color: rgb(56, 54, 168);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 30px;
}

.side > button {
    width: 50px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    position: absolute;
    top: 30px;
    left: 30px;
}

